# Ignore Dart tool directories
.dart_tool/
.packages
.pub/
pubspec.lock

# Ignore build directories
build/
coverage/
doc/
example/.flutter-plugins-dependencies
example/android/app/release/

# Ignore IDE directories
.idea/
.vscode/

# Ignore local Android configuration and signing credentials
**/local.properties
**/key.properties
**/*.jks
**/*.keystore
**/MyKeyStore

# Ignore macOS specific files
.DS_Store

# Ignore Flutter specific files
.last_build_id
contents.xcworkspacedata
Flutter.podspec
Podfile

# Ignore module files
*.iml
